@model ApplicationCore.ViewModel.Log.LogTypeViewModel

@{
    ViewData["Title"] = "Delete";
}

 

<h3>تائید حذف</h3>
<div>
    <h4>LogType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogTypeEnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogTypeEnName)
        </dd>
      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
