@model ApplicationCore.ViewModel.Stuff.StuffViewModel

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ManualCode" class="control-label"></label>
                <input asp-for="ManualCode" class="form-control" />
                <span asp-validation-for="ManualCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatinName" class="control-label"></label>
                <input asp-for="LatinName" class="form-control" />
                <span asp-validation-for="LatinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuffGroupId" class="control-label"></label>
                <select asp-for="StuffGroupId" class ="form-control" asp-items="ViewBag.StuffGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StuffUnitId" class="control-label"></label>
                <select asp-for="StuffUnitId" class ="form-control" asp-items="ViewBag.StuffUnitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WebUrl" class="control-label"></label>
                <input asp-for="WebUrl" class="form-control" />
                <span asp-validation-for="WebUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class ="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="BarcodeId" class="control-label"></label>
                <input asp-for="BarcodeId" class="form-control" />
                <span asp-validation-for="BarcodeId" class="text-danger"></span>
            </div>*@
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

