@model ApplicationCore.ViewModel.User.UserGroupRoleViewModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserGroupId" class="control-label"></label>
                <select asp-for="UserGroupId" class="form-control" asp-items="ViewBag.UserGroupId"></select>
                <span asp-validation-for="UserGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleGroupId" class="control-label"></label>
                <select asp-for="RoleGroupId" class="form-control" asp-items="ViewBag.RoleGroupId"></select>
                <span asp-validation-for="RoleGroupId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>

