@model ManagementApp.ViewModel.HoldingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Holding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoldingName" class="control-label"></label>
                <input asp-for="HoldingName" class="form-control" />
                <span asp-validation-for="HoldingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoldingNameEn" class="control-label"></label>
                <input asp-for="HoldingNameEn" class="form-control" />
                <span asp-validation-for="HoldingNameEn" class="text-danger"></span>
            </div>  
            @*<div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="file" accept="image/*" name="File" id="File" class="form-control" multiple />
                @*<span asp-validation-for="HoldingLogo" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت</a>
</div>

