<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="~/assets/images/users/profile.png" alt="user" /><span class="hide-menu">Peyman</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">پروفایل</a></li>

                        <li><a href="javascript:void()">تنظیمات کاربری</a></li>
                        <li><a asp-action="Index" asp-controller="ManagementAppMenus">شخصی سازی سیستم</a></li>
                        <li><a asp-action="Logout" asp-controller="Account">خروج</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-nature-people"></i> سازمان  </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="Holdings"> مدیریت هلدینگ  </a></li>
                        <li><a asp-action="Index" asp-controller="Companies"> مدیریت شرکت  </a></li>
                        <li>
                            <a class="has-arrow" href="#"> مدیریت شعب  </a>

                            <ul aria-expanded="false" class="collapse" style="">
                                <li><a asp-action="Index" asp-controller="CashDesks">مدیریت صندوق</a></li>
                                <li><a asp-action="Index" asp-controller="Branches">مدیریت شعبه</a></li>
                                <li><a asp-action="Index" asp-controller="Drawers">تعریف کشو</a></li>
                                <li><a asp-action="Index" asp-controller="DrawerPayments">انتساب روش پرداخت به کشو</a></li>
                                <li><a asp-action="Index" asp-controller="CashDeskUtilities">تجهیزات صندوق</a></li>
                                <li><a asp-action="Index" asp-controller="UserCashDesks">کاربر و صندوق</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">مدیریت اطلاعات پایه</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="BaseInfoGroups"> گروه اطلاعات  </a></li>
                        <li><a asp-action="Index" asp-controller="BaseInfoes">  اطلاعات پایه </a></li>
                        <li><a asp-action="Index" asp-controller="LogTypes"> نوع لاگ </a></li>
                        <li><a asp-action="Index" asp-controller="Countries"> کشور </a></li>
                        <li><a asp-action="Index" asp-controller="Provinces"> استان</a></li>
                        <li><a asp-action="Index" asp-controller="Cities"> شهر</a></li>
                        @* <li><a asp-action="Index" asp-controller="Locations"> مناطق</a></li>*@
                        <li><a asp-action="Index" asp-controller="Currencies"> ارز</a></li>
                        <li><a asp-action="Index" asp-controller="Measures"> واحد اندازه گیری</a></li>
                        <li><a asp-action="Index" asp-controller="PaymentGroups"> مدیریت گروه پرداخت  </a>
                        <li><a asp-action="Index" asp-controller="NetworkInfoes"> مدیریت اطلاعات شبکه   </a>
                        <li><a asp-action="Index" asp-controller="Utilities"> مدیریت تجهیزات   </a>
                        <li><a asp-action="Index" asp-controller="UtilityDetails"> مدیریت پارامتر های تجهیزات   </a>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-nature-people"></i> مدیریت کاربران  </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="UserGroups"> گروه کاربران  </a></li>
                        <li><a asp-action="Index" asp-controller="Users">  کاربران  </a></li>
                        <li><a asp-action="Index" asp-controller="Roles">  نقش ها  </a></li>
                        <li><a asp-action="Index" asp-controller="Permissions">  دسترسی  </a></li>
                        <li><a asp-action="Index" asp-controller="UserRoles">  انتساب نقش به کاربران  </a></li>
                        <li><a asp-action="Index" asp-controller="RoleGroups">  مدیریت گروه نقش ها  </a></li>
                        <li><a asp-action="Index" asp-controller="UserGroupRoles">  مدیریت نقش گروه کاربران  </a></li>
                        <li><a asp-action="Index" asp-controller="RolePermissions">  مدیریت انتساب دسترسی به نقش  </a></li>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-nature-people"></i> مدیریت اشخاص  </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="PersonGroups"> گروه اشخاص  </a></li>
                        <li><a asp-action="Index" asp-controller="People">  اشخاص  </a></li>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-nature-people"></i> مدیریت کالا و انبار  </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="Warehouses"> مدیریت انبار  </a></li>
                        <li><a asp-action="Index" asp-controller="Suppliers"> مدیریت تامین کننده  </a></li>
                        <li><a asp-action="Index" asp-controller="StuffUnits"> مدیریت واحد کالا  </a></li>
                        <li><a asp-action="Index" asp-controller="StuffSuppliers"> انتساب کالا به تامین کننده  </a></li>
                        <li><a asp-action="Index" asp-controller="StuffGroups"> مدیریت گروه کالا </a></li>
                        <li><a asp-action="Index" asp-controller="Stuffs"> مدیریت  کالا </a></li>
                        <li><a asp-action="Index" asp-controller="Barcodes"> انتساب بارکد به کالا </a></li>
                        <li><a asp-action="Index" asp-controller="WarehouseStuffs"> انتساب کالا به انبار </a></li>
                        <li><a asp-action="Index" asp-controller="PriceTags"> قیمت گذاری </a></li>
                        <li><a asp-action="Index" asp-controller="PriceConsumers"> قیمت مصرف کننده </a></li>
                    </ul>
                </li>



            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>